
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}" style="background-color:red;border:thin solid white;">
     <div class="list-group">
        <a onMouseOver="this.style.background-color='red'" onMouseOut="this.style.background-color='red'" [routerLink]="['/process']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Maintain Process' | translate }}
        </a>
        <a onMouseOver="this.style.background-color='red'" onMouseOut="this.style.background-color='red'" [routerLink]="['/app-user']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ ' User Management' | translate }}
        </a>
        <a onMouseOver="this.style.background-color='red'" onMouseOut="this.style.background-color='red'" [routerLink]="['/credentials']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Credentials Manager' | translate }}
        </a> 
        <a onMouseOver="this.style.background-color='red'" onMouseOut="this.style.background-color='red'" [routerLink]="['/resource']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Resource Manager' | translate }}
        </a>
        <a onMouseOver="this.style.background-color='red'" onMouseOut="this.style.background-color='red'"[routerLink]="['/queue']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Queue Manager' | translate }}
        </a> 
        <a onMouseOver="this.style.background-color='red'" onMouseOut="this.style.background-color='red'" [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Control Room' | translate }}
        </a>
        <a [routerLink]="['/action-management']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Manage Actions' | translate }}
        </a>
    </div>
</nav> 

