<div [@routerTransition]>
    <app-page-header [heading]="'Process List'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12">
                <div class="card-header">
                    List Of Processes
                </div>
                <div>
                <form class="form-inline my- my-lg-0">
                        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
                        <br><br>
                        &nbsp; &nbsp;
                        <a class="btn btn-outline-success my-0 my-sm-0" [routerLink]="['/forms']">Add New</a>
                    </form>
                </div>
               
                <div class="card-body table-responsive">
                    <table class="table" >
                        
                        <thead>
                        <tr>
                            <th>Process Id</th>
                            <th>Process Name</th>
                            <th>Status</th>
                            <th>Timestamp</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let process of process_List; let i=index">
                            <th scope="row">{{ i +1}}</th>
                            <td>cif search</td>
                            <td>A</td>
                            <td>14h00</td>
                        </tr>
                        <tr *ngFor="let process of process_List; let i=index">
                            <th scope="row">2</th>
                            <td>open fbss</td>
                            <td>A</td>                           
                            <td>6h00</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>                          
                            <td>avaf application</td>
                            <td>NA</td>
                            <td>11h00</td>
                        </tr>
                        </tbody>             
                    </table>      
                </div>
            </div>           
        </div>
        <br><br>
        &nbsp; &nbsp;
        <div>
                <form class="form-inline my- my-lg-1">
                        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
                        <br><br>
                        &nbsp; &nbsp;
                        <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Edit</button>
                        &nbsp; &nbsp;
                        <button class="btn btn-outline-success my-0 my-sm-0" type="submit">View</button>
                        &nbsp; &nbsp;
                        <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Delete</button>
                    </form>
                </div>
    </div>
</div>







