<div [@routerTransition]>
    <app-page-header [heading]="'Process List'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12">
                <div class="card-header">
                    List Of Processes
                </div>

                <div class="card-body table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Process Id</th>
                            <th>Process Name</th>
                            <th>Description</th>
                            <th>Version</th>
                            <th>Run Mode</th>
                            <th>Shared Object</th>
                            <th>Process Type</th>
                            <th>Created Date</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr contenteditable="" *ngFor="let process of process_Model; let i=index">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{process.processId}}</td>
                            <td>{{process.name}}</td>
                            <td>{{process.description}}</td>
                            <td>{{process.version}}</td>
                            <td>{{process.runmode}}</td>
                            <td>{{process.sharedObject}}</td>
                            <td>{{process.processType}}</td>
                            <td>{{process.createdBy}}</td>

                            <td>
                                <button type="button" class="btn btn-info" (click)="updateProcess(process)">Edit</button>
                            
                            </td>
                            <td>
                            <button type="button" class="btn btn-danger" (click)="deleteProcess(process)">Delete</button>
                            </td>
                        </tr>
                        </tbody>             
                    </table>   
                    <div>
                        <form>
                        <div class="text-right">
                                <a class="btn btn-outline-success my-0 my-sm-0" (click)="createNewProcess(content)">Create New Process</a>
                        </div>  
                        </form>
                    </div>                    
                </div>  
            </div>           
        </div>
        <br><br>

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Add New Process</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="process-form" #processForm="ngForm" (ngSubmit)="onSubmit(processForm)">
                    <div class="form-group">
                      <label for="processType" class="col-form-label">Process Type:</label>
                      <input type="text" class="form-control" name="processType" #processType="ngModel"/>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" name="name" #name="ngModel">
                    </div>
                    <div class="form-group">
                            <label for="createdDate" class="col-form-label">Created Date:</label>
                            <input type="datetime" class="form-control" formControlName="createdDate" #createdDate/>
                    </div>
                    <div class="form-group">
                            <label for="description" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" formControlName="description" #description/>
                    </div>
                    <div class="form-group">
                            <label for="lastModifiedDate" class="col-form-label">Last Modified Date:</label>
                            <input type="datetime" class="form-control" formControlName="lastModifiedDate" lastModifiedDate/>
                    </div>
                    <div class="form-group">
                        <label for="runmode" class="col-form-label">Run Mode:</label>
                        <input type="text" class="form-control" formControlName="runmode" #runmode>
                    </div>
                    <div class="form-group">
                        <label for="sharedObject" class="col-form-label">Shared Object:</label>
                        <input type="number" class="form-control" formControlName="sharedObject" #sharedObject/>
                    </div>
                    <div class="form-group">
                        <label for="version" class="col-form-label">Version:</label>
                        <input type="number" class="form-control" formControlName="version" #version/>
                    </div>
                    <div class="form-group">
                        <label for="createdUserId" class="col-form-label">Created By Id:</label>
                        <input type="number" class="form-control" formControlName="createdUserId" #createdUserId/>
                    </div>
                    <div class="form-group">
                        <label for="lastModifiedByUserId" class="col-form-label">Last Modified By Id:</label>
                        <input type="number" class="form-control" formControlName="lastModifiedByUserId" #lastModifiedByUserId/>
                    </div>
                    <div class="form-group">
                            <label for="actions" class="col-form-label">Actions:</label>
                            <select  class="form-control input-underline input-lg">
                               <option *ngFor="let action of actions">
                                   {{ action }}
                               </option>
                            </select>
                     </div> 
                     <div class="form-group">
                        <label for="element-types" class="col-form-label">Element Type:</label>
                        <select  class="form-control input-underline input-lg">
                           <option *ngFor="let element of element_types">
                               {{ element }}
                           </option>
                        </select>
                 </div> 
             </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
              <button type="submit" class="btn btn-outline-success my-0 my-sm-0">Add</button>
            </div>
          </ng-template>
    </div>
</div>







