<div [@routerTransition]>
    <app-page-header [heading]="'Process List'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-12">
                <div class="card-header">
                    List Of Processes
                </div>
                <div>
                <form class="form-inline my-0 my-lg-0">
                        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
                        <br><br>
                        &nbsp; &nbsp;
                        <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Add New</button>
                    </form>
                </div>
               
                <div class="card-body table-responsive">
                    <table class="table">
                        
                        <thead>
                        <tr>
                            <th>Process Id</th>
                            <th>Process User Id</th>
                            <th>Process Name</th>
                            <th>Process Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>1.2</td>
                            <td>cif search</td>
                            <td>14h00</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>2.3</td>
                            <td>open fbss</td>
                            <td>6h00</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>3.5</td>
                            <td>avaf application</td>
                            <td>11h00</td>
                        </tr>
                        </tbody>             
                    </table>      
                </div>
            </div>           
        </div>

        <form class="form-inline my-0 my-lg-0">
                <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
                <br><br>
                &nbsp; &nbsp;
                <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Add New</button>
            </form>
        </div>
    </div>
</div>
