<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>Add Process Form</h1>
        </br>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text"  createdBy="createdBy" class="form-control input-underline input-lg" id="createdBy" placeholder="Created BY" required>
                    </div>
                    <div class="form-group">
                        <input type="text"  lastModifiedBy="lastModifiedBy" class="form-control input-underline input-lg" id="lastModifiedBy" placeholder="Last Modified By" required>
                    </div>



                    <div class="form-group">
                        <input type="text"  username="username" class="form-control input-underline input-lg" id="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" password="password" class="form-control input-underline input-lg" id="password" placeholder="Password" required>
                    </div>
                    <div>
                    <select env="env" class="form-control input-underline input-lg" placeholder="Environment">
                            <option *ngFor="let e of env">
                                {{ e }}
                            </option>
                        </select> 
                    </div>
                    <!-- <div class="form-group">
                        <div>
                        <input type="radio" class="form-control input-underline input-lg"> True
                        <input type="radio" class="form-control input-underline input-lg"> False
                        </div>
                    </div> -->
                </div>
                <a class="btn rounded-btn" [routerLink]="['/forms']" (click)="onSave()"> Save </a>

            </form>
        </div>
    </div>
</div>