<div [@routerTransition]>
    <app-page-header [heading]="'Maintain Process'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
            <div class="col col-xl-12 col-lg-12">
                <div class="card mb-12">
                    <div class="card-header">
                        Process Name : Cif Search
                    </div>
                    <div>
                   
                    <div class="card-body table-responsive">
                            <table class="table table-striped">      
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Process Id</th>
                                <th>Process Name</th>
                                <th>Status</th>
                                <th>Timestamp</th>
                                <th>UserId</th>
                                <th>Username</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let process of process_List; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{process.processId}}</td>
                                <td>{{process.processName}}</td>
                                <td>{{process.status}}</td>
                                <td>{{process.timestamp}}</td>
                                <td>{{process.userId}}</td>
                                <td>{{process.username}}</td>

                                <td>
                                        <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
                                        </td>
                                        <td>
                                        <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
                               </td>    

                            </tr>
                            </tbody>             
                        </table>  
                    </div>
                </div>           
            </div>
            </div>
            </div>
            <br>
            <br>

            <div class="row">
            <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-12">
                        <div class="card-header">
                            Process Steps
                        </div>
                        <div>
                       
                        <div class="card-body table-responsive">
                            <table class="table" >         
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Process Id</th>
                                    <th>Step Name</th>
                                    <th>Status</th>
                                    <th>Timestamp</th>
                                    <th>UserId</th>
                                    <th>Username</th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let process of process_List; let i = index">
                                                <th scope="row">{{ i + 1 }}</th>
                                                <td>{{process.processId}}</td>
                                                <td>{{process.processName}}</td>
                                                <td>{{process.status}}</td>
                                                <td>{{process.timestamp}}</td>
                                                <td>{{process.userId}}</td>
                                                <td>{{process.username}}</td>
                                    <td>
                                        
                                            <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
                                            </td>                                            
                                            <td>
                                            <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
                                   </td>    
                                </tr>
                                </tbody>             
                            </table>  
                            <div>
                            <form>
                            <div class="text-right">
                                    <a class="btn btn-outline-success my-0 my-sm-0" [routerLink]="['/forms']">Add</a>
                            </div> 
                            
                            <div>
                                    <br>
                                        <form class="form-inline my- my-lg-6">
                                                &nbsp; &nbsp;&nbsp;
                                                <div>
                                                        <select class="form-control" (change)="updateData($event)">
                                                                <option *ngFor="let act of actions">
                                                                    {{act}}
                                                                </option>
                                                            </select>    
                                                    </div>
                                                    &nbsp; &nbsp;
                                                <!-- <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Edit</button>
                                                &nbsp; &nbsp;
                                                <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Delete</button>
                                                &nbsp; &nbsp;
                                                <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Add</button> -->
                                        </form>
                                </div>

                            </form>
                            </div>          
                        </div>
                    </div>           
                </div>
                </div>

            
        </div>
</div>
