
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}" style="background-color:red;border:thin solid white;">


     <div class="list-group" >
        <a onmouseover="this.style.background='#BF0000';" onmouseout="this.style.background='red';" [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item" style="background-color:red;color:white;">
            <i class="fa fa-fw fa-dashboard" ></i>&nbsp;{{ 'Maintain Process' | translate }}
        </a>
        <a  onmouseover="this.style.background='#BF0000';" onmouseout="this.style.background='red';" [routerLink]="['/resource']" [routerLinkActive]="['router-link-active']" class="list-group-item" style="background-color:red;color:white;">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Resource Manager' | translate }}
        </a>
        <a onmouseover="this.style.background='#BF0000';" onmouseout="this.style.background='red';"  [routerLink]="['/queue']" [routerLinkActive]="['router-link-active']" class="list-group-item" style="background-color:red;color:white;">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Queue Manager' | translate }}
        </a>
        <a onmouseover="this.style.background='#BF0000';" onmouseout="this.style.background='red';"  [routerLink]="['/control-room']" [routerLinkActive]="['router-link-active']" class="list-group-item" style="background-color:red;color:white;">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Control Room' | translate }}
        </a>
        <a  onmouseover="this.style.background='#BF0000';" onmouseout="this.style.background='red';" [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item" style="background-color:red;color:white;">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Credentials Manager' | translate }}
        </a>
        <a onmouseover="this.style.background='#BF0000';" onmouseout="this.style.background='red';"  [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item" style="background-color:red;color:white;">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'User Management' | translate }}
        </a>
        <a  onmouseover="this.style.background='#BF0000';" onmouseout="this.style.background='red';" [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item" style="background-color:red;color:white;">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Manage Actions' | translate }}
        </a>
    </div>
</nav>

