.main-container {
    margin-top: 56px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
/* REMOVE ALL MARGINS */
.remove-all-margins {
	margin: 0 0 0 0;
}
/* ****************** */

/* REMOVE ALL PADDING */
.remove-all-padding {
	padding: 0 0 0 0;
}
/* ****************** */

/* REMOVE ALL BORDER */
.remove-all-border {
	border: none;
}
/* ***************** */
.custom .ui-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
    border: 1px solid red;
}

.custom .ui-scrollpanel-bar {

    background-color: #1976d2;
    opacity: 1;
    transition: background-color .3s;
}

.custom .ui-scrollpanel-bar:hover {
    background-color: #135ba1;
}
