<app-header></app-header>
<app-sidebar></app-sidebar>

<section class="main-container" style="padding-top: 60px;padding-right: 50px;padding-bottom: 50px;padding-left: 20px;">
    <router-outlet></router-outlet>
    <app-page-header [heading]="'Control Room'"></app-page-header>


    <div class="ui-g">
    </div>

    <div class="ui-g">
        <div class="ui-g-4">
            <h4>&nbsp;Processes</h4>
            <div class="div1" align="left">
                <div align="left">
                    <br/>&nbsp;&nbsp;&nbsp;Search
                    <input placeholder="&nbsp;&nbsp;process groups"
                        (keyup)="searchTerm$.next($event.target.value)">

                    <hr/>
                    <p-scrollPanel [style]="{width: '100%', height: '200px',border: '1px solid red'}">
                        <ul >
                            <li *ngFor="let process of processes[0]" style="list-style-type: none;">
                                <img src="/assets/abbot_process.png"  width="20" height="20"/>&nbsp;
                                <a href="#" class="drag1" draggable="true"  (dragstart)="drag($event,process.processName)" >
                                    <span  [ngClass]="color" style="color:green;">{{process.processName}}</span>
                                    <!--<span  *ngIf="!running"  [ngClass]="color" style="color:green;">DUMMY_ABBOT_PROCESS_UAT_TEST</span>-->
                                    <!--<span  *ngIf="running"  [ngClass]="color" style="color:green;font-weight: bold;">DUMMY_ABBOT_PROCESS_UAT_TEST</span>-->
                                </a>
                            </li>
                        </ul>
                    </p-scrollPanel>

                </div>
            </div>

            <br>

        </div>

        <div class="ui-g-3">
            <p align="center" style="color:blue;">Drag and Drop</p>
        </div>
        <div class="ui-g-4">
            <h4 >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resources</h4>
            <div class="div1" >
                <div align="left">
                    <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search
                    <input  placeholder="&nbsp;&nbsp;resource groups"
                        (keyup)="searchTerm$.next($event.target.value)">
                    <hr/>

                        <p-scrollPanel [style]="{width: '100%', height: '200px',border: '1px solid red'}" >
                            <ul class="list">
                              <li align="left"  *ngFor="let resource of resources[0]">
                                <div align="left"  id="1" (drop)="drop(event,resource.name)" (dragover)="allowDrop($event)" >&nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="/assets/abbot_resource.png" draggable="false"  width="20" height="20">
                                    &nbsp;<a  onmouseover="this.style.color='red';" onmouseout="this.style.color='black';" href="#">{{resource.name}}</a>
                                </div>
                              </li>
                           </ul>
                        </p-scrollPanel>
                </div>
                <hr/>

            </div>
            <br>
        </div>

    </div>
    <br/>
    <br/>
    <br/>
    &nbsp;&nbsp;&nbsp;
    <!--<ngx-datatable [columns]="columns" [rows]="rows"></ngx-datatable>-->
    <mat-horizontal-stepper [linear]="true" #stepper>
        <!-- Content here -->
    </mat-horizontal-stepper>
    <mat-table #queueItems [dataSource]="queueItems">

        <ng-container matColumnDef="queueIdEnt">
            <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
            <mat-cell *matCellDef="let element">  </mat-cell>
        </ng-container>

        <ng-container matColumnDef="processName">
            <mat-header-cell *matHeaderCellDef> Process Name</mat-header-cell>
            <mat-cell *matCellDef="let element">  </mat-cell>
        </ng-container>

        <ng-container matColumnDef="loaded">
            <mat-header-cell *matHeaderCellDef> Loaded </mat-header-cell>
            <mat-cell *matCellDef="let element">  </mat-cell>
        </ng-container>

        <ng-container matColumnDef="completed">
            <mat-header-cell *matHeaderCellDef> Completed </mat-header-cell>
            <mat-cell *matCellDef="let element">  </mat-cell>
        </ng-container>

        <ng-container matColumnDef=eException">
            <mat-header-cell *matHeaderCellDef> Exception </mat-header-cell>
            <mat-cell *matCellDef="let element">  </mat-cell>
        </ng-container>

        <ng-container matColumnDef="defered">
            <mat-header-cell *matHeaderCellDef> Defered </mat-header-cell>
            <mat-cell *matCellDef="let element">  </mat-cell>
        </ng-container>

        <ng-container matColumnDef="finished">
            <mat-header-cell *matHeaderCellDef> Finished </mat-header-cell>
            <mat-cell *matCellDef="let element">  </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element">  </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>



</section>
