<div>
  <app-page-header [heading]="'Process Mai'"></app-page-header>
  <div class="row">
          <div class="col col-xl-12 col-lg-12">
              <div class="card mb-12">
                  <div class="card-header">
                         Add / Edit Process Values
                  </div>
                  <form>
                    <div class = "form group">
                        <input type="text" name="id" class="form-control">

                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>