<div>
    <app-page-header [heading]="'Credentials Manager'"></app-page-header>
    <div class="row">
            <div class="col col-xl-12 col-lg-12">
                <div class="card mb-12">
                    <!-- <div class="card-header">
                           Credentials Manager
                    </div> -->
                    <div>

                <div class="card-body table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Password</th>
                            <th>Login</th>
                            <th>Invalid</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr contenteditable="" *ngFor="let credential of data; let i=index">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{credential.id}}</td>
                            <td>{{credential.name}}</td>
                            <td>{{credential.description}}</td>
                            <td>{{credential.password}}</td>
                            <td>{{credential.login}}</td>
                            <td>{{credential.invalid}}</td>
                            <td>
                                <button type="button" class="btn btn-info" (click)="editCredential(i)">Edit</button>
                            
                            </td>
                            <td>
                            <button type="button" class="btn btn-danger" (click)="onDelete(credential)">Delete</button>
                            </td>
                        </tr>
                        </tbody>             
                    </table>   
                    <div>
                        <form>
                        <div class="text-right">
                                <a class="btn btn-outline-success my-0 my-sm-0" (click)="manageCredentials(content)">Manage Credentials</a>
                        </div>  
                        </form>
                    </div>                  
                </div>  
            </div>           
        </div>
    </div>
 </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Manage Credentials</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
                <div class="form-group">
                  <label for="description" class="col-form-label">Description:</label>
                  <input type="text" class="form-control" formControlName="description" #description>
                </div>
                <div class="form-group">
                    <label for="name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" formControlName="name" #name>
                  </div>
                  <div class="form-group">
                    <label for="login" class="col-form-label">Login:</label>
                    <input type="text" class="form-control" formControlName="login" #login>
                  </div>
                  <div class="form-group">
                    <label for="password" class="col-form-label">Password:</label>
                    <input type="text" class="form-control" formControlName="password" #password>
                  </div>
                  <div class="form-group">
                    <label for="invalid" class="col-form-label">Invalid:</label>
                    <input type="number" class="form-control" formControlName="invalid" #invalid>
                  </div>
                  <div class="form-group">
                    <label for="alertNotificationTypes" class="col-form-label">Alert Notification Types:</label>
                    <input type="number" class="form-control" formControlName="alertNotificationTypes" #alertNotificationTypes>
                  </div>
                  <div class="form-group">
                    <label for="alertEventTypes" class="col-form-label">Alert Event Types:</label>
                    <input type="number" class="form-control" formControlName="alertEventTypes" #alertEventTypes>
                  </div>
                  <div class="form-group">
                    <label for="authorities" class="col-form-label">Authorities:</label>
                    <input type="text" class="form-control" formControlName="authorities" #authorities>
                  </div>
                  <div class="form-group">
                    <label for="userRoleName" class="col-form-label">User Role Name:</label>
                    <input type="text" class="form-control" formControlName="userRoleName" #userRoleName>
                  </div>

                <div class="form-group">
                    <label for="permissionName" class="col-form-label">Permission Name:</label>
                    <input type="text" class="form-control" formControlName="permissionName" #permissionName>
                </div>
                <div class="form-group">
                    <label for="permissionId" class="col-form-label">Permission Id:</label>
                    <input type="number" class="form-control" formControlNamed="permissionId" #permissionId>
                </div>
                <div class="form-group">
                    <label for="permissionGroupName" class="col-form-label">Permission Group Name:</label>
                    <input type="text" class="form-control" formControlName="permissionGroupName" #permissionGroupName>
                </div>
                <div class="form-group">
                    <label for="permissionGroupId" class="col-form-label">Permission Group Id:</label>
                    <input type="number" class="form-control" formControlNamed="permissionGroupId" #permissionGroupId>
                </div>
               
         </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
          <button type="button" class="btn btn-outline-success my-0 my-sm-0" (click)="createCredential(username.value, systemusername.value, useremail.value, passwordDurationWeeks.value,password.value, loginattempts.value,authorities.value, 
                                                                                              alertNotificationTypes.value, alertEventTypes.value, userRoleName.value, permissionName.value, permissionId.value,
                                                                                              permissionGroupName.value, permissionGroupId.value)">Save</button>
        </div>
      </ng-template>

